.card{
    border-radius: 8px;
    min-width: 227px;
    min-height: 156px;
    max-width: 227px;
    max-height: 156px;
    flex-wrap: nowrap;
    margin-right: 30px;
    padding-right: 10px;
    display: flex;
    flex-direction: column;    
}
.cards{
    margin-top: 20px;
    display: flex;
    overflow:auto;
}
.aulaicone{
    width: 100px;
    height: 100px;
}
.horizontal{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 10px;
}
.horizontal2{
    display: flex;
    flex-direction: row;
    padding-left: 10px;
    
    
}
.aulaassunto{
    font-style: normal;
font-weight: 700;
font-size: 22px;
line-height: 28px;  
color: #FFFFFF;

}
.introrecente{
    font-style: normal;
font-weight: 700;
font-size: 13px;
line-height: 18px;
color: #E5E5EA;
}

.recente{
    margin: 20px;
}