.body{
    width: 100%;
    background-color: #2C2C2E;
    height: 100vh;
}
.upper{
    align-items: center;
    display:flex;
    flex-direction:row;
    justify-content: space-between;

}

.articles{
    padding: 20px;
}

.introtext{
font-style: normal;
font-weight: 700;
font-size: 22px;
line-height: 28px;
padding: 20px;
/* or 127% */


/* White / 100 */

color: #FFFFFF;
}
